<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <%= render "form", channel: Channel.new %>
      <hr>
      <% @channels.each do |channel| %>
        <%= link_to channel do %>
          <div class="card mb-2">
            <div class="card-body">
              <%= channel.name %>         
            </div>
          </div>
        <% end %>
      <% end %>
    </div>  
    
    <div class="col-9">
      <% if @channel.present? %>
        <nav class="navbar navbar-light bg-light mb-3">
          <div class="container-fluid">
            <span class="navbar-brand"><%= @channel.name %></span>
            <ul class="navbar-nav">
              <li class="nav-item">
                <%= current_user.email %>
              </li>
            </ul>
          </div>
        </nav>

        <div class="chat-channel" data-controller="channel-messages" data-channel-messages-channelid=<%= @channel.id %> >
          <div id="messages" data-channel-messages-target='messages'>
            <% @channel.messages.each do |message| %>
              <%= render "messages/message", message: message %>
            <% end %> 
          </div>

            <div class="chat-box">
              <%= render "messages/form", message: Message.new, channel: @channel %>  
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>