<h2>Sign up</h2>


<div>

  <center><h1>首先, 輸入你的電子郵件</h1>
  <center><h4>我們建議使用你的工作電子郵件地址。</h4>
  <center><h2>註冊 Stork</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>  
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <center><%= f.label :電子信箱 %><br />
    <center><%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>


  <div class="field">
    <center><%= f.label :輸入密碼 %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <center><%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <center><%= f.label :再次確認密碼 %><br />
    <center><%= f.password_field :password_confirmation, autocomplete: "new-password" %>

  </div>


  <div class="tactions">
    <center><%= f.submit "註冊" %>
    <% end %>
  </div>
<br>
  <div>
    <%= render "devise/shared/links" %>
    <center><h5>可以向我發送有關Stork的電子郵件</h5>
    <center><h5>選擇繼續,代表你同意我們的客戶服務條款、 隱私權政策和<br>Cookie 政策</h5>
  </div>



    

