<h1>在這裡新增工作空間</h1>

<%= form_for(Space.new) do |f|%>
<div>
  <%= f.label :新空間名稱 %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :自動產生圖像 %>
  <%= f.text_field :icon %>
</div>

<div>
  <%= f.label :建立者 %>
  <%= f.text_field :created_by %>
</div>

  <%= f.submit %>
<% end %>

