<div class="text-center">

  <div class="pt-8 flex justify-center">  
    <%= link_to root_path do %>
      <%= image_tag 'logo_index.png' %>
    <% end %>
  </div>

  <div class="pt-10 text-2xl"> 
    忘記密碼?
  </div>

  <div> 
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  </div>

  <div> 
    <%= render "devise/shared/error_messages", resource: resource %>
  </div>
  
  <div class="pt-10 field ">
    <%= f.label :email ,class:"text-2xl text-purple-900"%><br>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: "border-solid border-4 border-purple-700 border-light-purple-400 "%>
  </div>

  <div class="pt-10 actions">
    <p class="text-xl">發送重置密碼通知</p>
    <div class="pt-10">
      <%= f.submit "發送" ,class: "text-xl border-solid border-4 bg-purple-400 border-purple-700 border-light-purple-400" %>
      <% end %>
    </div>
  </>

</div>