<div class="wallpaper" data-controller="channelbox" data-channelbox-target="page">
  <div class="dialog-box">
    <div class="head">
      <h2 class="text-3xl pt-4 pb-4 flex justify-start items-center">
        <% if channel.is_public == "private_channel" %>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
          <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z"/>
        </svg>
        <% else %>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
          <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
        </svg>
        <% end %>
        <%= channel.name %>
      </h2>
      <button data-action="click->channelbox#close" class="close hover:bg-gray-100 py-2 px-4 rounded text-xl" >×</button>	

      <div class="flex flex-wrap mb-2">
        <%= link_to "頻道會員", member_path(channel.id), remote: true, class: "px-4 py-2 rounded-md text-sm font-medium focus:outline-none focus:ring transition text-gray-600 hover:bg-gray-50 active:bg-gray-100 focus:ring-gray-300 mr-4" %>
        <%= link_to "加成員", member_add_path(channel.space_id, channel.id), remote: true, class: "px-4 py-2 rounded-md text-sm font-medium focus:outline-none focus:ring transition text-gray-600 hover:bg-gray-50 active:bg-gray-100 focus:ring-gray-300 mr-4" %>
        <%= link_to "查看頻道資料", setting_path(id: channel.id), remote: true, class: "px-4 py-2 rounded-md text-sm font-medium focus:outline-none focus:ring transition text-gray-600 hover:bg-gray-50 active:bg-gray-100 focus:ring-gray-300 mr-4" %>
      </div>
      <hr class="mb-2 font-bold">         
    </div>
    <div class="dialog-content">
      <%= render "shared/member", members: members %>
    </div>
  </div>
</div>
