<div class="wallpaper" data-controller="channelbox" data-channelbox-target="page">
    <div class="channel-box">
       
        <button data-action="click->channelbox#close" class="close" >X</button>

        <%= form_for(leave, :method => :delete, :remote => false) do |f| %>
        <h2>離開 # <%= leave.name %> </h2>
        <p> 
            <% if leave.status == 2 %>
            <%= "每个工作区都有一个频道，包含此工作区中的所有成员，这就是你的频道。" %>
            <% else %>
            <%= "频道成员不会收到你退出的通知。你可以随时重新加入。" %>
            <% end %>
        </p>
        <button data-action="click->channelbox#close">取消</button>
        <% if leave.status != 2 %>
        <%= f.submit "離開" %>
        <% end %>
        <% end %>

    </div>
</div>