<div class="wallpaper" data-controller="channelbox" data-channelbox-target="page">
    <div class="dialog-box">
       
        <button data-action="click->channelbox#close" class="close hover:bg-gray-100 py-2 px-4 rounded text-xl" >×</button>	

        <%= form_for channel, url: space_channel_path, method: "DELETE" do |f| %>
        <h2 class="text-3xl pt-4 pb-4">
            <%= channel.is_public == "private_channel" ? "&" : "#" %>
            <%= channel.name %>
        </h2>
        <p class="pb-4 font-bold"> 
            <% if channel.is_public == 'lobby_channel' %>
            <%= "每個工作區都有一個頻道，包含此工作區中的所有成員，這就是你的頻道。" %>
            <% else %>
            <%= "頻道成員不會收到你退出的通知。你可以隨時重新加入。" %>
            <% end %>
        </p>
        <button data-action="click->channelbox#close" class="bg-gray-300 hover:bg-gray-400 text-block font-bold py-2 px-4 rounded">取消</button>
        <% if channel.is_public != 'lobby_channel' %>

        <%= f.submit "退出", "class"=>"bg-gray-300 hover:bg-gray-400 text-block font-bold py-2 px-4 rounded" %>	

        <% end %>
        <% end %>

    </div>
</div>