<body>
    <table class="cover-home">
        <tr>
        <td>
        <table class="list_table" >
            <tr height="100px"></tr>
            <tr>
                <td id="caption" colspan="6">歡迎回來</td>
            </tr>
            <td id="list_head" colspan="5" style="padding:10px"><%= current_user.email %> 的工作空間</td>
            <% @channels.each do |s| %>
                <tr>
                    <td id="home-list">icons</td>            
                        <td width="450px" height="60px" bgcolor="#fff">                
                            <span style="font-size:20px;" style="padding:10px"><%= s.space.name %></span>
                        </td>
                    <td width="150px" bgcolor="#fff" style="padding:10px">                
                        <span style="font-size:20px;"><%= link_to "啟動STORK", channel_path(s.id) %></span>
                    </td>
                    <td style="display: none;">
                        <p><span style="font-size:12px;"><%= link_to "編輯", edit_page_path(s.id) %>／<%= link_to "刪除", page_path(s.id),
                    method: 'delete',
                    "data-confirm": "確定嗎？" %> </span>
                    </td>
            <% end %>
            </td>
        </tr>
                <tr height="100px"></tr>
                <tr>
                    <td colspan="6" id="home-list">                  
                        <span style="font-size:20px;"><%= link_to "建立新的工作空間", stork_step1_path %></span><br><br>
                        <%= link_to "登出", destroy_user_session_path, method: :delete %>
                    </td>
                </tr>
                <tr height="100px"></tr>
            </table>
        </td>
        </tr>
    </table>
    </body>
    </body>
