
    <div class="wallpaper" data-controller="channelbox" data-channelbox-target="page">
        <div class="dialog-box">
            <h2>建立頻道</h2>
            <button data-action="click->channelbox#close" class="close" >X</button>
            <h4>頻道是你的團隊進行通訊的地方。以主題來分類頻道最有效，舉例來說，#行銷。</h4>

            <%= form_for channel, url: space_channels_path, method: "POST", remote: true do |f| %>
            <p><%= f.hidden_field :space_id %></p>
            <p><%= f.hidden_field :is_public %></p>
            <p>
                <%= f.label :name, "名稱", "id"=>"nameerror" %> 
                <span class="error">頻道名稱為必填！！！</span> <br>
                <%= f.text_field :name, "id"=>"nameerror" %>
            </p>

            <p>
                <%= f.label :topic, "主題(選填)" %> <br>
                <%= f.text_field :topic %>
            </p>
    
            <p>
                <%= f.label :description, "說明(選填)" %> <br>
                <%= f.text_area :description %>
            </p>

            <p>此頻道的內容是什麼？</p>
    
            <%= f.submit "送出" %>
            
            <% end %>
            
        </div>
    </div>

