<div id="sidebar" data-controller="baritem" data-baritem-target="center">

    <ul>
      <div class="spacename_at_channel">
        <%= current_space_name %> 
      </div>
      <br>
      <span class="category">頻道</span>
      <hr class="line">
      <% channels.each do |c| %>
      <li>
          <%= link_to "# #{c["name"]}", space_channel_path(c["space_id"].to_i,c["id"].to_i),"id" => "item", "data-chanid" => "#{c["space_id"].to_i},#{c["id"].to_i}" %>
      </li>
      <% end %>
      <li><%= link_to "+ 新增頻道", new_space_channel_path, remote: true %></li>
    </ul>

    <ul>
      <% if user_signed_in? %>
      <li> <%= current_user.email %> </li>
      <li>    <%= link_to "登入", new_user_session_path%> </li>
      <li>    <%= link_to "登出", destroy_user_session_path, method: :delete %></li>
      <% end %>
    </ul>

    <div class="menu" data-baritem-target="menu">
      <ul class="menu-options" data-baritem-target="menuoptions">
        <li class="menu-option">
          <%= link_to "離開頻道", leave_path, "data-baritem-target" => "deletepath", remote: true %>
        </li>
        <li class="menu-option">
            <%= link_to "查看頻道資料", edit_space_channel_path, "data-baritem-target" => "editpath", remote: true %>
        </li>
      </ul>
    </div>

</div>
</div>
