<h1>在這裡編輯工作空間</h1>

<%= form_for(@space) do |f|%>
<div>
  <%= f.label :name, "新空間名稱" %>
  <%= f.text_field :name %>
</div>

<div>
  <%= f.label :icon, "自動產生圖像" %>
  <%= f.text_field :icon %>
</div>

<div>
  <%= f.label :created_by, "建立者" %>
  <%= f.text_field :created_by %>
</div>

  <%= f.submit %>
<% end %>

