<body style="align-items: flex-start" >
<div class="index-01-header">
    <div class="index-m-header">
        <div class="index-main-header">
            <a href="#" class="logo">
                <%= image_tag 'logo_index.png' %>
            </a>
        
            <nav class="main-nav">
                <%= link_to "登入", new_user_session_path %>
                <%= link_to "登出", destroy_user_session_path, method: :delete %>
                <a href="#">與業務團隊交談</a>
                <%= link_to "免費試用", new_user_registration_path %>
            </nav>
        </div>
    
        <div class="index-welcome">Stork 即為你的虛擬總部。瞭解我們的全新功能，讓團隊成員不論在何處辦公，都能始終保持連線。　開始吧＝＞</div>
        <div>
        <table width=100%>
            <tr>
            <td width=50%>
                <h1>Stork 即是未來工作型態</h1>
                <p>徹底改造你的工作方式，將完成工作所需的一切人員和要素都集中於同一空間。</p>
                <p><%= link_to '免費試用=註冊會員', signin_path %></p>
                <p>或
                <br>
                <%= link_to '登入', login_path %></p>
            </td>
            <td width=50%><%= image_tag 'img-campaign-hero.zh-TW.jpg' %></td>
            </tr>
        </table>
        </div>
    </div>
</div>

    
</body>



