<div class="home">
    <div class="font-sans antialiased mx-16 mb-16">
        <nav class="flex items-center justify-between flex-wrap bg-teal p-6">
          <div class="flex items-center flex-no-shrink text-white mr-6">
            <div class="fill-current relative">
                <%= image_tag 'logo_index.png', class: "relative -top-1" %>
            </div>
          </div>
          <div class="w-full flex-grow sm:flex sm:items-center sm:w-auto">
            <div class="text-sm sm:flex-grow">
              <a href="#" class="no-underline mt-4 sm:inline-block sm:mt-0 mr-4">
                <span class="text-lg font-bold hover:text-white hover:underline">產品</span>
              </a>
              <a href="#" class="no-underline mt-4 sm:inline-block sm:mt-0 mr-4">
                <span class="text-lg font-bold hover:text-white hover:underline">企業</span>
              </a>
              <a href="#" class="no-underline mt-4 sm:inline-block sm:mt-0">
                <span class="text-lg font-bold hover:text-white hover:underline">定價</span>
              </a>
            </div>
            <div>
              <a href="#" class="item-1 mx-1 no-underline inline-block text-sm px-6 py-4 leading-none border-2 rounded border-white mt-4 sm:mt-0">與企業交談</a>
              <button href="#" class="item-2 mx-1 no-underline inline-block text-sm px-6 py-4 leading-none border-2 rounded mt-4 sm:mt-0">
                <%= link_to "建立新的工作空間", stork_step1_path, class:"hover:text-gray-300" %>
              </button>
            </div>
          </div>
        </nav>
    </div>
    <div>
        <content class="flex flex-col w-2/3 m-auto">
            <div class="flex flex-wrap">
                <div class="fill-current mr-4 mb-8">
                    <%= image_tag 'waving-hand.gif' %>
                </div>
                <h2 class="text sm:inline-block">歡迎回來</h2>
            </div>
            <div class="flex flex-col mb-14">
                <div class="deepcolor p-4 rounded-t-lg text-white">
                    <% if user_signed_in? %>
                    <%= current_user.email %> 的工作空間
                    <% end %>
                </div>
                <% @channels.each_with_index do |channel, index| %>
                    <% if index <= 1 %>
                <div class="border-need">
                            
                                <div class="space-item bg-white p-4 flex flex-wrap">
                                    <%= image_tag 'ava_0012-88.png', style: 'height:75px; width:75px;' %>
                                    <div class="flex-grow pl-4 ">
                                        <div class="flex flex-col pt-4">
                                            <p class="font-bold"><%= channel.space.name %></p>
                                            <p class="text-gray-400"><%= channel.space.users.size %> 成員</p>
                                        </div>
                                    </div>
                                    <div class="flex items-center"><%= link_to "啟動STORK", space_channel_path(channel.space.id ,channel.id), class: "mx-1 border font-bold rounded text-center p-4 hover:text-white deep-blue" %></div>
                                </div>
                                <div class="see-less"></div>
                            <% else %>
                            <div class="more">
                                <div class="space-item bg-white p-4 flex flex-wrap">
                                    <%= image_tag 'ava_0012-88.png', style: 'height:75px; width:75px;' %>
                                    <div class="flex-grow pl-4 ">
                                        <div class="flex flex-col pt-4">
                                            <p class="font-bold"><%= channel.space.name %></p>
                                            <p class="text-gray-400"><%= channel.space.users.size %> 成員</p>
                                        </div>
                                    </div>
                                    <div class="flex items-center"><%= link_to "啟動STORK", space_channel_path(channel.space.id ,channel.id), class: "mx-1 border font-bold rounded text-center p-4 hover:text-white deep-blue" %></div>
                            </div>        
                        </div>
                    <% end %>
                <% end %>

                </div>
                <div class="mb-16 bg-white p-4 rounded-b-lg text-center">
                    <button class="text-sm see-more" href="#">查看更多</button>
                </div>
                <div class="flex relative">
                    <img class="absolute top-0 left-0 z-10 fill-current" src="https://a.slack-edge.com/613463e/marketing/img/homepage/bold-existing-users/create-new-workspace-module/woman-with-laptop-color-background.png" alt="">
                </div>
                
                <div class="doll-content bg-white flex items-center justify-between">
                    <p class="doll-text font-bold flow-grow">
                        想要和不同的團隊使用 Slack 嗎？
                    </p>
                    <button href="#" class="item-2 mx-1 inline-block text-sm px-6 py-4 leading-none border-2 rounded mt-4 sm:mt-0 mr-4 block ">
                        <%= link_to "建立新的工作空間", stork_step1_path, class:"hover:text-gray-300 hover:bg-white" %>
                      </button>
                </div>
            </div>
        </content>
    </div>
</div>

<script>

document.addEventListener("DOMContentLoaded", function() {
  const dots = document.querySelector(".see-less");
  const moreText = document.querySelector(".more");
  const btnText = document.querySelector(".see-more");

  btnText.addEventListener('click', ()=>{
        if (dots.style.display === "none") {
        dots.style.display = "inline";
        moreText.style.display = "none";
    } else {
        dots.style.display = "none";
        moreText.style.display = "inline";
    }
  })
})
</script>






