
<body bgcolor="#800080">

<table class="list_table" >

    <tr>
        <td id="caption" colspan="6">歡迎回來</td>
    </tr>
    <td id="list_head" colspan="5" style="padding:10px"><%= current_user.email %> 的工作空間</td>
    <% @spaces.each do |s| %>
        <tr>
            <td bgcolor="#fff" style="padding:10px"><%= link_to "icons", page_path(s.id) %></td>            
            <td width="450px" height="60px" bgcolor="#fff">                
                <span style="font-size:20px;" style="padding:10px"><%= link_to s.name, page_path(s.id) %></span>
            </td>
            <td width="150px" bgcolor="#fff" style="padding:10px">                
            <span style="font-size:20px;"><%= link_to "啟動STORK", page_path(s.id) %></span>
            </td>
            <td style="display: none;">                
                <span style="font-size:20px;"><%= s.created_by %></span>
            </td>
            <td style="">
                <p><span style="font-size:12px;"><%= link_to "編輯", edit_page_path(s.id) %>／<%= link_to "刪除", page_path(s.id),
		    method: 'delete',
		    "data-confirm": "確定嗎？" %> </span>
                <% end %>
            </td>
        </tr>
        <tr height="100px">
            
         </tr>
        <tr>
        <td colspan="6" width="450px" height="60px" bgcolor="#fff" style="padding:10px">                  
        <span style="font-size:20px;"><%= link_to "建立新的工作空間", new_space_path %></span>
        </td>
        </tr>
</table>

</body>
