<div class="steps-container">
  <div class="top-nav"></div>

  <div class="steps-layout">

    <div class="steps-sidebar">
      <div class="new-name-box">
        新工作空間的名字
      </div>
    </div>

    <div class="step-form-content">
      <div class="steps-text">步驟 2 之 1</div>
      <h2>你的公司或團隊名稱是什麼？</h2>
      <p>這是你 Stork 空間的名稱，請選擇你團隊認得的名稱。</p>

      <%= form_for @space, html: {class:"stepsForm"} do |f| %>
      <div class="step1-text-field-box">
        <%= f.text_field :name, class: "steps-text-field", placeholder: "例如：公司 A 或團隊 B" %>
      </div>
      <div>
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
        <div class="avatar_display"></div>
      </div>
      <div class="steps-submit-box">
        <%= f.submit "下一步", class: "steps-submit" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
