<div class="spaces_container">
  <div class="spaces_steps">
    <div id="new-space-name"></div>
  </div>
  <div class="spaces_step_content">
    <h1>Step 3-1</h1>
    <%= form_for(@space) do |f|%>
      <div>
        <%= f.label :name, class: "spaces_step_title" , value: "建立新的工作空間" %>
      </div>
      <div class="spaces_step_form">
        <div>
          <%= f.text_field :name, id: 'inp_space_name' %>
            <br><%= f.submit "下一步" %>
          <% end %>
        </div>
        <div class="spaces_step_waver">
          <%= image_tag 'stork_logo_s.png' %>
        </div>
      </div>
  </div>


    
</div>
