<div class="spaces-container">
  <div class="spaces-steps">
    <div id="new-space-name"></div>
  </div>
  <div class="spaces-step-content">
    <h1>Step 3-1</h1>
    <%= form_for(@space) do |f|%>
      <div>
        <%= f.label :name, class: "spaces-step-title" , value: "建立新的工作空間" %>
      </div>
      <div class="spaces-step-form">
        <div>
          <%= f.text_field :name, id: 'inp-space-name' %>
            <br><%= f.submit "下一步" %>
          <% end %>
        </div>
        <div class="spaces-step-waver">
          <%= image_tag 'stork_logo_s.png' %>
        </div>
      </div>
  </div>


    
</div>
