<!DOCTYPE html>
<html>
  <head>
    <title>Stork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="sidebar">

      <ul>
        <li class="category">頻道</li>
        <li><%= link_to "+ 新增頻道", new_channel_path %></li>
      </ul>

    </div>


    <%= yield %>
    <p class=”notice”><%= notice %></p>
    <p class=”alert”><%= alert %></p>
  </body>
</html>
