<!DOCTYPE html>
<html>
  <head>
    <title>Stork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div id="sidebar" data-controller="baritem" data-baritem-target="center">

        <ul>
          <span class="category">頻道</span>
          <hr>
          <%= yield :my_channel %>
          <li><%= link_to "+ 新增頻道", new_channel_path, remote: true %></li>
        </ul>

        <div class="menu" data-baritem-target="menu">
          <ul class="menu-options" data-baritem-target="menuoptions">
            <li class="menu-option">離開頻道</li>
            <li class="menu-option">查看頻道資料</li>
          </ul>
        </div>



    <p class=”notice”><%= notice %></p>
    <p class=”alert”><%= alert %></p>

      </div>



      <%= yield %>
  </body>
</html>
