<!DOCTYPE html>
<html>
  <head>
    <title>Stork</title>
    <meta name="turbolinks-cache-control" content="no-cache">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= tag.meta name: "nickname" , content: current_user.display_name if user_signed_in? %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<%# h-screen  overflow-hidden%>
  <body>
    <%= yield %>
  </body>

  <style>
  </style>
</html>
