<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <title>Stork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <%= link_to "登入", new_user_session_path%>
    <%= link_to "註冊", new_user_registration_path%>
    <%= link_to "登出", destroy_user_session_path, method: :delete %>
    <% if user_signed_in? %>
      <%= current_user.email %>
    <% end %>
  </nav>
    <%= yield %>
    <p class=”notice”><%= notice %></p>
    <p class=”alert”><%= alert %></p>
  </body>
</html>
=======
<!DOCTYPE html>
<html>
  <head>
    <title>Stork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="sidebar">

      <ul>
        <li class="category">頻道</li>
        <li><%= link_to "+ 新增頻道", new_channel_path %></li>
      </ul>

    </div>


    <%= yield %>
    <p class=”notice”><%= notice %></p>
    <p class=”alert”><%= alert %></p>
  </body>
</html>
>>>>>>> 6e2671b... 渲染新增畫面
